table td.bs-checkbox label { height: 0}
table th.bs-checkbox label { height: 0}
table thead { background-color: #F8F9FB;}

.aligncenter { text-align: center; }

.float-right.pagination, .float-left.pagination {
    
    float: none !important;
}

ul.pagination {
    width: 99%;
    justify-content: center;
    display: flex;
}

.tablecell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    padding: .5rem .5rem;
}

.bootstrap-table .delete, .bootstrap-table .edit, .bootstrap-table .confirm {
    cursor: pointer;
}

#buttontoolbar .btn-group {
    margin-bottom: 10px;
}

.fixed-table-toolbar  {
    /*position: sticky;
    top: 0px;
    z-index: 1000;*/
}

.btnhelp {
    /*height: 4em;*/
}

.btnhelp .help {
    padding: 1em;
    /*border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    margin-bottom: 1em;*/
    width: fit-content;
}

th.bs-checkbox.nopadding div.th-inner {
    padding: 0 !important;
}

div.search.btn-group {
    float: left;
}

div.btn-group {
    float: right;
}

@media (width <= 450px) {
    .hide-xs {
        display: none;
    }
  }

div[contenteditable] {
    overflow: hidden;
    outline: none;
    padding: .5rem .5rem;
}

.table td:has(div[contenteditable]) {
    padding: 0;
    border: 1px solid var(--bs-border-color);
}

.table td:has(div[contenteditable]):hover {
    background-color: #f8f9fa; 
    cursor: pointer; 
}

.table div[contenteditable]:focus {
    outline: 2px solid #0d6efd; 
    outline-offset: -2px;
    background-color: #e9ecef; 
}